/* ######################################## Main Style ######################################### */
@media only screen and (min-width: 1280px) {
  .container-features {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7478fa;
    color: #fff;
    font-size: 1.47em;
    font-family: "Poppins";
  }

  .col-features-1 {
    padding: 0vh 1vw;
  }

  .col-features-2 {
    padding: 0vh 1vw;
  }

  .row-features {
    width: 89vw;
  }

  .box-features-btn {
    padding: 5px;
  }
  .circle {
    background-color: #7f83fc;
    margin-bottom: 7vh;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 17vh;
    padding-left: 1.6vw;
    border-radius: 10px;
    font-family: "Poppins";
  }

  .img-forward {
    filter: brightness(0) invert(1);
    width: 2.7vw;
  }

  .btns-features {
    padding: 2vw;
  }

  .text-title-features {
    padding: 40px;
    visibility: hidden;
    font-size: 3.6vw;
  }

  @keyframes bg-animate {
    0% {
      opacity: 0;
      transform: translateY(300px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animation-title-features {
    visibility: visible;
    animation: title-features 1s;
  }

  @keyframes title-features {
    0% {
      opacity: 0;
      transform: translateY(-210px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .features-box {
    background-color: #767af7;
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .anim-box-1 {
    visibility: hidden;
  }

  .animation-1 {
    visibility: visible;
    animation: anim-box-1 900ms;
  }

  @keyframes anim-box-1 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .anim-box-2 {
    visibility: hidden;
  }

  .animation-2 {
    animation: anim-box-2 1300ms;
    visibility: visible;
  }

  @keyframes anim-box-2 {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .anim-box-3 {
    visibility: hidden;
  }

  .animation-3 {
    animation: anim-box-3 1800ms;
    visibility: visible;
  }

  @keyframes anim-box-3 {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .container-features {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7478fa;
    color: #fff;
    font-size: 1.25em;
    font-family: "Poppins";
  }

  .col-features-1 {
    padding: 0vh 1vw;
  }

  .col-features-2 {
    padding: 0vh 1vw;
  }

  .row-features {
    width: 100%;
  }

  .box-features-btn {
    padding: 0.3vh 0.3vw;
  }
  .circle {
    background-color: #7f83fc;
    margin-bottom: 4vh;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 5% 5%;
    border-radius: 10px;
    font-family: "Poppins";
  }

  .img-forward {
    filter: brightness(0) invert(1);
    width: 1.3em;
    position: relative;
  }

  .btns-features {
    padding: 1.6vw;
  }

  .text-title-features {
    padding: 40px;
    visibility: hidden;
    font-size: 3em;
    position: relative;
  }

  @keyframes bg-animate {
    0% {
      opacity: 0;
      transform: translateY(300px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animation-title-features {
    visibility: visible;
    animation: title-features 1s;
  }

  @keyframes title-features {
    0% {
      opacity: 0;
      transform: translateY(-210px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .features-box {
    background-color: #767af7;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .anim-box-1 {
    visibility: hidden;
  }

  .animation-1 {
    visibility: visible;
    animation: anim-box-1 900ms;
  }

  @keyframes anim-box-1 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .anim-box-2 {
    visibility: hidden;
  }

  .animation-2 {
    animation: anim-box-2 1300ms;
    visibility: visible;
  }

  @keyframes anim-box-2 {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .anim-box-3 {
    visibility: hidden;
  }

  .animation-3 {
    animation: anim-box-3 1800ms;
    visibility: visible;
  }

  @keyframes anim-box-3 {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container-features {
    position: static;
    max-width: 1590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7478fa;
    color: #fff;
    font-size: 1.5vw;
    font-family: "Poppins";
    padding: 0vh 1.8vw;
    margin: 0 auto;
  }

  .row-features {
    width: 97.5vw;
    flex-direction: column;
    align-self: center;
    margin: 0;
  }

  .box-features-btn {
    padding: 0.1vw;
  }
  .circle {
    background-color: #7f83fc;
    margin-bottom: 7vh;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 16vh;
    padding-left: 1.4vw;
    border-radius: 10px;
    font-family: "Poppins";
  }

  .img-forward {
    filter: brightness(0) invert(1);
    width: 3.3vw;
  }

  .btns-features {
    padding: 2vw;
    font-size: 2.1vw;
  }

  .text-title-features {
    padding: 40px;
    visibility: hidden;
    font-size: 3.7vw;
  }

  @keyframes bg-animate {
    0% {
      opacity: 0;
      transform: translateY(300px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animation-title-features {
    visibility: visible;
    animation: title-features 1s;
  }

  @keyframes title-features {
    0% {
      opacity: 0;
      transform: translateY(-210px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .features-box {
    background-color: #767af7;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .anim-box-1 {
    visibility: hidden;
  }

  .animation-1 {
    visibility: visible;
    animation: anim-box-1 900ms;
  }

  @keyframes anim-box-1 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .anim-box-2 {
    visibility: hidden;
  }

  .animation-2 {
    animation: anim-box-2 1300ms;
    visibility: visible;
  }

  @keyframes anim-box-2 {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .anim-box-3 {
    visibility: hidden;
  }

  .animation-3 {
    animation: anim-box-3 1800ms;
    visibility: visible;
  }

  @keyframes anim-box-3 {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (max-width: 480px) {
  .container-features {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7478fa;
    color: #fff;
    font-family: "Poppins";
    padding: 0;
  }

  .row-features {
    width: 100%;
    flex-direction: column;
    align-self: center;
    margin: 0;
  }

  .box-features-btn {
    position: relative;
    padding: 0em 0.5em;
  }
  .circle {
    background-color: #7f83fc;
    margin-bottom: 0.8em;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 4em;
    padding-left: 0.8em;
    border-radius: 5px;
    font-family: "Poppins";
  }

  .img-forward {
    filter: brightness(0) invert(1);
    width: 0.9em;
  }

  .btns-features {
    padding: 0.8em;
    font-size: 0.8em;
  }

  .text-title-features {
    padding: 30px;
    visibility: hidden;
    font-size: 1.6em;
    position: relative;
  }

  @keyframes bg-animate {
    0% {
      opacity: 0;
      transform: translateY(300px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animation-title-features {
    visibility: visible;
    animation: title-features 1s;
  }

  @keyframes title-features {
    0% {
      opacity: 0;
      transform: translateY(-210px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .features-box {
    background-color: #767af7;
    position: relative;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .anim-box-1 {
    visibility: hidden;
  }

  .animation-1 {
    visibility: visible;
    animation: anim-box-1 900ms;
  }

  @keyframes anim-box-1 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .anim-box-2 {
    visibility: hidden;
  }

  .animation-2 {
    animation: anim-box-2 1300ms;
    visibility: visible;
  }

  @keyframes anim-box-2 {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .anim-box-3 {
    visibility: hidden;
  }

  .animation-3 {
    animation: anim-box-3 1800ms;
    visibility: visible;
  }

  @keyframes anim-box-3 {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
