@media only screen and (min-width: 1250px) {
  /* ####################### Icon Style ########################################## */
  .animation-icons {
    position: absolute;
    left: -98vw;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .icon-cloud-1 {
    top: 0.6vw;
    animation: animate-cloud-1 25s linear infinite;
  }
  .icon-cloud-2 {
    top: 4vw;
    animation: animate-cloud-2 55s linear infinite;
  }
  .icon-cloud-3 {
    top: 7vw;
    animation: animate-cloud-3 50s linear infinite;
  }
  .icon-cloud-4 {
    top: 9.5vw;
    animation: animate-cloud-4 20s linear infinite;
  }
  .icon-cloud-5 {
    top: 12.7vw;
    animation: animate-cloud-5 35s linear infinite;
  }

  .icon-cloud-6 {
    top: 16.2vw;
    animation: animate-cloud-6 60s linear infinite;
  }

  @keyframes animate-cloud-1 {
    0% {
      margin-left: -100px;
    }

    100% {
      margin-left: 120%;
    }
  }

  @keyframes animate-cloud-2 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-3 {
    0% {
      margin-left: -100px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-4 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-5 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-6 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  /* ################################################################# */
  .section-subscribe {
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #fbfbfe;
    padding-top: 6.3vw;
  }

  .box-text-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }

  .text-1-subscribe {
    position: relative;
    display: block;
    font-size: 1.5vw;
    line-height: 5.5vh;
    color: #7478fa;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.8vw;
    z-index: 1;
  }

  .text-2-subscribe {
    font-size: 2.9vw;
    line-height: 9.5vh;
    color: #4c4754;
    font-weight: 500;
    z-index: 1;
  }

  .icon {
    position: absolute;
  }

  .box-iframe {
    padding: 1.5vw;
    padding-bottom: 20vh;
  }

  .iframe-video {
    position: relative;
    visibility: hidden;
    width: 55vw;
    height: 30.8vw;
  }
  .animation-iframe-video {
    visibility: visible;
    animation: iframe-video 2s;
  }

  @keyframes iframe-video {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1249px) {
  /* ####################### Icon Style ########################################## */
  .animation-icons {
    position: absolute;
    left: -97vw;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .icon-cloud-1 {
    top: 0.6vw;
    animation: animate-cloud-1 25s linear infinite;
  }
  .icon-cloud-2 {
    top: 4vw;
    animation: animate-cloud-2 55s linear infinite;
  }
  .icon-cloud-3 {
    top: 7vw;
    animation: animate-cloud-3 50s linear infinite;
  }
  .icon-cloud-4 {
    top: 9.5vw;
    animation: animate-cloud-4 20s linear infinite;
  }
  .icon-cloud-5 {
    top: 12.7vw;
    animation: animate-cloud-5 35s linear infinite;
  }

  .icon-cloud-6 {
    top: 16.2vw;
    animation: animate-cloud-6 60s linear infinite;
  }

  @keyframes animate-cloud-1 {
    0% {
      margin-left: -100px;
    }

    100% {
      margin-left: 120%;
    }
  }

  @keyframes animate-cloud-2 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-3 {
    0% {
      margin-left: -100px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-4 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-5 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-6 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  /* ################################################################# */
  .section-subscribe {
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #fbfbfe;
    padding-top: 6.3vw;
  }

  .box-text-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }

  .text-1-subscribe {
    position: relative;
    display: block;
    font-size: 1.6vw;
    line-height: 5.7vh;
    color: #7478fa;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.8vw;
    z-index: 1;
  }

  .text-2-subscribe {
    font-size: 3vw;
    line-height: 9.7vh;
    color: #4c4754;
    font-weight: 500;
    z-index: 1;
  }

  .icon {
    position: absolute;
  }

  .box-iframe {
    padding: 1.6vw;
    padding-bottom: 20vh;
  }

  .iframe-video {
    position: relative;
    visibility: hidden;
    width: 56vw;
    height: 31.5vw;
  }
  .animation-iframe-video {
    visibility: visible;
    animation: iframe-video 2s;
  }

  @keyframes iframe-video {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 899px) {
  /* ####################### Icon Style ########################################## */
  .animation-icons {
    position: absolute;
    left: -97vw;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .icon-cloud-1 {
    top: 0.6vw;
    animation: animate-cloud-1 25s linear infinite;
  }
  .icon-cloud-2 {
    top: 5.7vw;
    animation: animate-cloud-2 55s linear infinite;
  }
  .icon-cloud-3 {
    top: 10vw;
    animation: animate-cloud-3 50s linear infinite;
  }
  .icon-cloud-4 {
    top: 13.1vw;

    animation: animate-cloud-4 20s linear infinite;
  }
  .icon-cloud-5 {
    top: 17vw;
    animation: animate-cloud-5 35s linear infinite;
  }

  .icon-cloud-6 {
    top: 21.2vw;
    animation: animate-cloud-6 60s linear infinite;
  }

  @keyframes animate-cloud-1 {
    0% {
      margin-left: -100px;
    }

    100% {
      margin-left: 120%;
    }
  }

  @keyframes animate-cloud-2 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-3 {
    0% {
      margin-left: -100px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-4 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-5 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-6 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  /* ################################################################# */
  .section-subscribe {
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #fbfbfe;
    padding-top: 6.3vw;
  }

  .box-text-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }

  .text-1-subscribe {
    position: relative;
    display: block;
    font-size: 1.6vw;
    line-height: 5.7vh;
    color: #7478fa;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.8vw;
    z-index: 1;
  }

  .text-2-subscribe {
    font-size: 3vw;
    line-height: 9.7vh;
    color: #4c4754;
    font-weight: 500;
    z-index: 1;
  }

  .icon {
    position: absolute;
  }

  .box-iframe {
    padding: 1.6vw;
    padding-bottom: 5vh;
  }

  .iframe-video {
    position: relative;
    visibility: hidden;
    width: 70vw;
    height: 39.3vw;
  }
  .animation-iframe-video {
    visibility: visible;
    animation: iframe-video 2s;
  }

  @keyframes iframe-video {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (max-width: 700px) {
  /* ####################### Icon Style ########################################## */
  .animation-icons {
    position: absolute;
    left: -97vw;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .icon-cloud-1 {
    width: 10vw;
    top: 0.6vw;
    animation: animate-cloud-1 25s linear infinite;
  }
  .icon-cloud-2 {
    width: 10vw;
    top: 5.7vw;
    animation: animate-cloud-2 55s linear infinite;
  }
  .icon-cloud-3 {
    width: 10vw;
    top: 10vw;
    animation: animate-cloud-3 50s linear infinite;
  }
  .icon-cloud-4 {
    width: 10vw;
    top: 13.1vw;
    animation: animate-cloud-4 20s linear infinite;
  }
  .icon-cloud-5 {
    width: 10vw;
    top: 17vw;
    animation: animate-cloud-5 35s linear infinite;
  }

  .icon-cloud-6 {
    width: 10vw;
    top: 21.2vw;
    animation: animate-cloud-6 60s linear infinite;
  }

  @keyframes animate-cloud-1 {
    0% {
      margin-left: -100px;
    }

    100% {
      margin-left: 120%;
    }
  }

  @keyframes animate-cloud-2 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-3 {
    0% {
      margin-left: -100px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-4 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-5 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  @keyframes animate-cloud-6 {
    0% {
      margin-left: -140px;
    }

    100% {
      margin-left: 120%;
    }
  }
  /* ################################################################# */
  .section-subscribe {
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #fbfbfe;
    padding-top: 6.3vw;
  }

  .box-text-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }

  .text-1-subscribe {
    position: relative;
    display: block;
    font-size: 2.3vw;
    line-height: 5.7vh;
    color: #7478fa;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.8vw;
    z-index: 1;
  }

  .text-2-subscribe {
    font-size: 4vw;
    line-height: 9.7vh;
    color: #4c4754;
    font-weight: 500;
    z-index: 1;
  }

  .icon {
    position: absolute;
  }

  .box-iframe {
    padding: 1.6vw;
    padding-bottom: 5vh;
  }

  .iframe-video {
    position: relative;
    visibility: hidden;
    width: 90vw;
    height: 50.6vw;
  }
  .animation-iframe-video {
    visibility: visible;
    animation: iframe-video 2s;
  }

  @keyframes iframe-video {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
