@media only screen and (min-width: 1280px) {
  .section-subscribe {
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #fbfbfe;
    padding-top: 6.3vw;
  }

  .box-text-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }

  .text-1-subscribe {
    position: relative;
    display: block;
    font-size: 1.5vw;
    line-height: 5.5vh;
    color: #7478fa;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.8vw;
    z-index: 1;
  }

  .text-2-subscribe {
    font-size: 2.9vw;
    line-height: 9.5vh;
    color: #4c4754;
    font-weight: 500;
    z-index: 1;
  }

  .icon {
    position: absolute;
  }

  .box-iframe {
    padding: 1.5vw;
    padding-bottom: 20vh;
  }

  .iframe-video {
    position: relative;
    visibility: hidden;
    width: 55vw;
    height: 30.8vw;
  }
  .animation-iframe-video {
    visibility: visible;
    animation: iframe-video 2s;
  }

  @keyframes iframe-video {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .section-subscribe {
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #fbfbfe;
    padding-top: 6.3vw;
  }

  .box-text-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }

  .text-1-subscribe {
    position: relative;
    display: block;
    font-size: 1.6vw;
    line-height: 5.7vh;
    color: #7478fa;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.8vw;
    z-index: 1;
  }

  .text-2-subscribe {
    font-size: 3vw;
    line-height: 9.7vh;
    color: #4c4754;
    font-weight: 500;
    z-index: 1;
  }

  .icon {
    position: absolute;
  }

  .box-iframe {
    padding-bottom: 5vh;
  }

  .iframe-video {
    position: relative;
    visibility: hidden;
    width: 56vw;
    height: 31.5vw;
  }
  .animation-iframe-video {
    visibility: visible;
    animation: iframe-video 2s;
  }

  @keyframes iframe-video {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .section-subscribe {
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #fbfbfe;
    padding-top: 6.3vw;
  }

  .box-text-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }

  .text-1-subscribe {
    position: relative;
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    color: #7478fa;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1em;
    z-index: 1;
  }

  .text-2-subscribe {
    position: relative;
    font-size: 1.7em;
    line-height: 1.5em;
    color: #4c4754;
    font-weight: 500;
    z-index: 1;
  }

  .icon {
    position: absolute;
  }

  .box-iframe {
    padding: 1.6vw;
    padding-bottom: 5vh;
  }

  .iframe-video {
    position: relative;
    visibility: hidden;
    width: 70vw;
    height: 39.3vw;
  }
  .animation-iframe-video {
    visibility: visible;
    animation: iframe-video 2s;
  }

  @keyframes iframe-video {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (max-width: 480px) {
  .section-subscribe {
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: #fbfbfe;
    padding-top: 1em;
  }

  .box-text-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }

  .text-1-subscribe {
    position: relative;
    display: block;
    font-size: 0.9em;
    line-height: 1.1em;
    color: #7478fa;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.4em;
    z-index: 1;
  }

  .text-2-subscribe {
    position: relative;
    font-size: 1.5em;
    line-height: 2em;
    color: #4c4754;
    font-weight: 500;
    z-index: 1;
  }

  .icon {
    position: absolute;
  }

  .box-iframe {
    padding: 1em;
    padding-bottom: 1.5em;
  }

  .iframe-video {
    position: relative;
    visibility: hidden;
    width: 90vw;
    height: 50.6vw;
  }
  .animation-iframe-video {
    visibility: visible;
    animation: iframe-video 2s;
  }

  @keyframes iframe-video {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
