/*############################# Add Fonts ############################################*/
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(../../Assets/Font/PoppinsLatin-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url(../../Assets/Font/Nunito-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url(../../Assets/Font/Lato-Regular.ttf) format("truetype");
}

/* ################################## Animation Style ################################ */
@media only screen and (min-width: 1280px) {
  .header-container {
    color: #fff;
    position: relative;
    max-width: 100%;
    padding: 0vh 1.8vw;
  }

  .box-header-bg {
    background: url(../../Assets/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    position: absolute;
    top: 0;
    right: 0;
    height: 800px;
    width: 60%;
    z-index: -1;
  }

  .col-header {
    display: "flex";
    padding: 0;
  }

  .text-banner {
    text-align: start;
    padding: 0px 13px;
    color: #4c4754;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -30vh;
  }

  .box-text-h-1 {
    font-family: "nunito";
  }

  .txt-1 {
    position: relative;
    display: block;
    font-size: 1.1em;
    line-height: 2em;
    color: #8a57de;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    animation: text-1 800ms 0.5s both;
  }

  @keyframes text-1 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .box-text-h-2 {
    font-family: "Poppins";
  }

  .txt-2 {
    position: relative;
    font-size: 3.1rem;
    line-height: 1.6em;
    margin-bottom: 2.5vh;
    font-weight: 600;
    visibility: visible;
    animation: text-2 800ms 1s both;
  }

  @keyframes text-2 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .box-text-h-3 {
    font-weight: 500;
    visibility: visible;
    position: relative;
    animation: text-3 1200ms 1s both;
    font-size: 1.1rem;
    line-height: 1em;
    margin-bottom: 7vh;
  }

  .txt-3 {
    font-family: "nunito";
  }

  @keyframes text-3 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .pink-blur {
    position: absolute;
    left: 7vw;
    top: 15vh;
    animation: pink-blur 3s 5s alternate infinite;
  }

  @keyframes pink-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .blue-blur {
    position: absolute;
    top: 73vh;
    right: 66vw;
    animation: blue-blur 2s 1s alternate infinite;
  }

  @keyframes blue-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .green-blur {
    position: absolute;
    left: 36vw;
    bottom: 124vh;
    animation: green-blur 2s 6s alternate infinite;
  }

  @keyframes green-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .icon-circle-1 {
    position: absolute;
    left: 46vw;
    top: 10vh;
    animation: icon-circle-1 15s linear infinite;
    height: 144px;
    width: 147px;
  }

  @keyframes icon-circle-1 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .icon-circle-2 {
    position: absolute;
    left: 89vw;
    top: 34vh;
    z-index: -1;
    height: 88px;
    width: 88px;
    animation: icon-circle-2 10s linear infinite;
  }

  @keyframes icon-circle-2 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .icon-circle-3 {
    position: absolute;
    left: 49vw;
    top: 60vh;
    animation: icon-circle-3 15s linear infinite;
  }

  @keyframes icon-circle-3 {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  .icon-triangle-1 {
    position: absolute;
    left: 89vw;
    top: 68vh;
    animation: icon-triangle-1 15s linear infinite backwards;
    height: 76px;
    width: 75px;
    opacity: 0.5;
    z-index: -1;
  }

  @keyframes icon-triangle-1 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .icon-triangle-2 {
    position: absolute;
    left: 52vw;
    top: 30vh;
    animation: icon-triangle-2 15s linear infinite forwards;
  }

  @keyframes icon-triangle-2 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .icon-triangle-4 {
    display: none;
  }

  .box-wow {
    animation: image-wow 2000ms;
    margin-left: 16.3%;
    margin-top: 1%;
  }

  .img-wow {
    animation: image-wow 1200ms 800ms both;
    width: 100%;
    height: auto;
  }
  @keyframes image-wow {
    0% {
      opacity: 0;
      transform: translateX(85px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .box-btn-header {
    font-family: Poppins;
  }
  .btn-header {
    background: transparent;
    color: #4749a0;
    border-radius: 3px;
    border: 2px solid #4749a0;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    animation: btn-header 1300ms 1.5s both;
  }

  .btn-header:hover {
    background: #8a57de;
    border: 2px solid #8a57de;
    transition: all 300ms;
  }

  @keyframes btn-header {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .header-container {
    color: #fff;
    position: relative;
    max-width: 100%;
    padding: 0vh 1.8vw;
    margin: 0 auto;
  }

  .box-header-bg {
    background: url(../../Assets/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    position: absolute;
    top: 0;
    right: 0;
    height: 760px;
    width: 57%;
    z-index: -1;
  }

  .col-header {
    display: "flex";
    padding: 0;
  }

  .text-banner {
    text-align: start;
    padding: 0px 13px;
    color: #4c4754;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10em;
  }

  .box-text-h-1 {
    font-family: "nunito";
  }

  .txt-1 {
    position: relative;
    display: block;
    font-size: 1.2em;
    line-height: 20px;
    color: #8a57de;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    animation: text-1 800ms 0.5s both;
  }

  @keyframes text-1 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .box-text-h-2 {
    font-family: "Poppins";
  }

  .txt-2 {
    position: relative;
    font-size: 2.7em;
    line-height: 70px;
    margin-bottom: 15px;
    font-weight: 600;
    visibility: visible;
    animation: text-2 800ms 1s both;
  }

  @keyframes text-2 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .box-text-h-3 {
    font-size: 1.62vw;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    visibility: visible;
    position: relative;
    animation: text-3 1200ms 1s both;
  }

  .txt-3 {
    font-family: "nunito";
  }

  @keyframes text-3 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .pink-blur {
    position: absolute;
    left: 7vw;
    top: 9vh;
    animation: pink-blur 3s 5s alternate infinite;
  }

  @keyframes pink-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .blue-blur {
    position: absolute;
    top: 531px;
    right: 65vw;
    animation: blue-blur 2s 1s alternate infinite;
  }

  @keyframes blue-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .green-blur {
    position: absolute;
    left: 39vw;
    bottom: 351px;
    animation: green-blur 2s 6s alternate infinite;
  }

  @keyframes green-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .icon-triangle-4 {
    display: none;
  }

  .icons-wow {
    display: none;
  }

  .box-wow {
    display: none;
  }

  .box-btn-header {
    font-family: Poppins;
  }
  .btn-header {
    background: transparent;
    color: #4749a0;
    border-radius: 3px;
    border: 2px solid #4749a0;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    animation: btn-header 1300ms 1.5s both;
  }

  .btn-header:hover {
    background: #8a57de;
    border: 2px solid #8a57de;
    transition: all 300ms;
  }

  @keyframes btn-header {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header-container {
    color: #fff;
    position: static;
    max-width: 1590px;
    padding: 0vh 1.8vw;
    margin: 0 auto;
  }

  .row {
    margin: 0;
  }

  .col-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .text-banner {
    position: relative;
    text-align: center;
    padding: 0px 13px;
    color: #4c4754;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 14vh;
    z-index: 1;
  }

  .box-text-h-1 {
    font-family: "nunito";
  }

  .txt-1 {
    position: relative;
    display: block;
    font-size: 3.2vw;
    line-height: 9vh;
    color: #8a57de;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    animation: text-1 800ms 0.5s both;
  }

  @keyframes text-1 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .box-text-h-2 {
    font-family: "Poppins";
  }

  .txt-2 {
    position: relative;
    font-size: 6.4vw;
    line-height: 12vh;
    margin-bottom: 4.2vh;
    font-weight: 600;
    visibility: visible;
    animation: text-2 800ms 1s both;
  }

  @keyframes text-2 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .box-text-h-3 {
    font-size: 2.2vw;
    line-height: 5.6vh;
    margin-bottom: 8.4vh;
    font-weight: 500;
    visibility: visible;
    position: relative;
    animation: text-3 1200ms 1s both;
  }

  .txt-3 {
    font-family: "nunito";
  }

  @keyframes text-3 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .pink-blur {
    position: absolute;
    left: 6vw;
    top: 0.1vh;
    animation: pink-blur 3s 5s alternate infinite;
  }

  @keyframes pink-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .blue-blur {
    position: absolute;
    top: 55vh;
    right: 77vw;
    animation: blue-blur 2s 1s alternate infinite;
  }

  @keyframes blue-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .green-blur {
    position: absolute;
    left: 66vw;
    bottom: 73vh;
    animation: green-blur 2s 6s alternate infinite;
  }

  @keyframes green-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .icon-circle-1 {
    position: absolute;
    left: 79vw;
    top: 1vh;
    animation: icon-circle-1 15s linear infinite;
    height: 120px;
    width: 120px;
  }

  .img-circle-1 {
    width: 100px;
  }

  @keyframes icon-circle-1 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .icon-circle-2 {
    position: absolute;
    left: 18vw;
    top: 2vh;
    z-index: -1;
    height: 70px;
    width: 70px;
    animation: icon-circle-2 10s linear infinite;
  }

  .img-circle-2 {
    width: 65px;
  }

  @keyframes icon-circle-2 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .icon-circle-3 {
    position: absolute;
    left: 70vw;
    top: 50vh;
    animation: icon-circle-3 15s linear infinite;
  }

  .img-circle-3 {
    width: 70px;
  }

  @keyframes icon-circle-3 {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  .icon-triangle-1 {
    position: absolute;
    left: 43vw;
    top: 30vh;
    animation: icon-triangle-1 15s linear infinite backwards;
    height: 76px;
    width: 75px;
    opacity: 0.6;
    z-index: -1;
  }

  @keyframes icon-triangle-1 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .icon-triangle-2 {
    position: absolute;
    left: 26vw;
    top: 19vh;
    animation: icon-triangle-2 15s linear infinite forwards;
  }

  @keyframes icon-triangle-2 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .icon-triangle-4 {
    position: absolute;
    left: 63vw;
    top: 8vh;
    opacity: 0.7;
    animation: icon-triangle-4 15s linear infinite forwards;
  }

  @keyframes icon-triangle-4 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .box-wow {
    display: none;
  }

  .img-wow {
    margin-left: 254px;
    margin-top: 21px;
    animation: image-wow 1200ms 800ms both;
  }
  @keyframes image-wow {
    0% {
      opacity: 0;
      transform: translateX(85px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .box-btn-header {
    font-family: Poppins;
  }
  .btn-header {
    background: transparent;
    color: #4749a0;
    border-radius: 3px;
    border: 2px solid #4749a0;
    display: flex;
    justify-content: center;
    font-size: 2.2vw;
    animation: btn-header 1300ms 1.5s both;
  }

  .btn-header:hover {
    background: #8a57de;
    border: 2px solid #8a57de;
    transition: all 300ms;
  }

  @keyframes btn-header {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (max-width: 480px) {
  .header-container {
    color: #fff;
    position: relative;
    max-width: 100%;
  }

  .row {
    margin: 0;
  }

  .col-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .text-banner {
    position: relative;
    text-align: center;
    padding: 0vh 1.5vw;
    color: #4c4754;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.3em;
    z-index: 1;
  }

  .box-text-h-1 {
    font-family: "nunito";
  }

  .txt-1 {
    position: relative;
    display: block;
    font-size: 0.9em;
    line-height: 0.5em;
    color: #8a57de;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    animation: text-1 800ms 0.5s both;
  }

  @keyframes text-1 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .box-text-h-2 {
    font-family: "Poppins";
  }

  .txt-2 {
    position: relative;
    font-size: 2.1em;
    line-height: 1.7em;
    margin-bottom: 0.2em;
    font-weight: 600;
    visibility: visible;
    animation: text-2 800ms 1s both;
  }

  @keyframes text-2 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .box-text-h-3 {
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 500;
    visibility: visible;
    position: relative;
    margin-bottom: 1.3em;
    animation: text-3 1200ms 1s both;
  }

  .txt-3 {
    font-family: "nunito";
  }

  @keyframes text-3 {
    0% {
      opacity: 0;

      transform: translateY(90px);
    }

    100% {
      opacity: 1;

      transform: translateY(0);
    }
  }

  .pink-blur {
    position: absolute;
    left: 3vw;
    top: 0.1vh;
    animation: pink-blur 3s 5s alternate infinite;
  }

  @keyframes pink-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .blue-blur {
    position: absolute;
    top: 53vh;
    right: 71vw;
    animation: blue-blur 2s 1s alternate infinite;
  }

  @keyframes blue-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .green-blur {
    position: absolute;
    left: 75vw;
    bottom: 64vh;
    animation: green-blur 2s 6s alternate infinite;
  }

  @keyframes green-blur {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

  .icons-wow {
    display: none;
  }

  .box-wow {
    display: none;
  }

  .box-btn-header {
    font-family: Poppins;
  }
  .btn-header {
    background: transparent;
    color: #4749a0;
    border-radius: 3px;
    border: 2px solid #4749a0;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    animation: btn-header 1300ms 1.5s both;
  }

  .btn-header:hover {
    background: #8a57de;
    border: 2px solid #8a57de;
    transition: all 300ms;
  }

  @keyframes btn-header {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
