/* ########################## Responsive ########################### */
@media only screen and (min-width: 1280px) {
  .nav-container {
    color: #fff;
    position: static;
    max-width: 1590px;
    padding: 0vh 1.8vw;
    margin: 0 auto;
  }

  .navbar-brand {
    padding-right: 0;
  }

  @keyframes animation-nav {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes animation-nav-1 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .col-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0;
  }

  .col-ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar {
    position: relative;
    float: left;
    left: 0px;
    padding: 39px 0px;
  }

  .navbar-nav {
    padding: 15px 0px;
  }

  .more-icon {
    visibility: hidden;
  }

  li > .link-nav {
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #4c4754;
  }

  li > .link-nav:hover {
    color: #8a57de;
  }

  li > .link-nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #8a57de;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  li > .link-nav:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  li {
    position: relative;
    float: left;
    padding: 30px 0px;
    margin-right: 35px;
  }

  ul {
    position: relative;
    margin: 0px;
  }

  .ul-nav {
    list-style: none;
  }

  .box-ul {
    margin-left: 40px;
  }

  .box-more-icon {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .nav-container {
    color: #fff;
    position: static;
    max-width: 1590px;
    padding: 0vh 1.8vw;
    margin: 0 auto;
  }

  .navbar-brand {
    padding-right: 0;
  }

  @keyframes animation-nav {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes animation-nav-1 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .display-row-nav {
    flex-direction: row;
    align-items: center;
  }

  .col-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar {
    position: relative;
    float: left;
    left: 0px;
    padding: 39px 0px;
  }

  .more-icon {
    visibility: hidden;
  }

  .navbar-nav {
    padding: 15px 0px;
  }

  li > .link-nav {
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #4c4754;
  }

  li > .link-nav:hover {
    color: #8a57de;
  }

  li > .link-nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #8a57de;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  li > .link-nav:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  li {
    position: relative;
    float: left;
    padding: 30px 0px;
    margin-right: 10%;
  }

  ul {
    position: relative;
    margin: 0px;
  }

  .ul-nav {
    list-style: none;
    margin-left: 25.6vw;
  }

  .box-ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .nav-container {
    color: #fff;
    position: static;
    max-width: 1590px;
    padding: 0vh 1.8vw;
    margin: 0 auto;
  }

  .bg-nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  }

  .navbar-brand {
    padding-right: 0;
  }

  @keyframes animation-nav {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes animation-nav-1 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .row-nav {
    flex-direction: column;
  }

  .col-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar {
    position: relative;
    float: left;
    left: 0px;
    padding: 15px 0px;
  }

  .navbar-nav {
    padding: 15px 0px;
  }

  li > .link-nav {
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #4c4754;
  }

  li > .link-nav:hover {
    color: #4749a0;
  }

  li > .link-nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #4749a0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  li > .link-nav:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  li {
    position: relative;
    float: left;
  }

  ul {
    position: relative;
    margin: 0px;
  }

  .ul-nav {
    list-style: none;
  }

  .pad-ul-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
  }

  .hide-box-ul {
    visibility: hidden;
    display: none;
  }

  .box-more-icon {
    position: relative;
    z-index: 4;
    display: flex;
    align-self: flex-start;
    padding: 15px 0px;
  }

  .more-icon {
    visibility: visible;
    border: 2px solid #8a57de;
    color: white;
    background: #8a57de;
    width: 55px;
    height: 44px;
    border-radius: 3px;
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .nav-container {
    color: #fff;
    position: static;
    max-width: 1590px;
    padding: 0vh 1.8vw;
    margin: 0 auto;
  }

  .bg-nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  }

  .navbar-brand {
    padding-right: 0;
  }

  @keyframes animation-nav {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes animation-nav-1 {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .row-nav {
    flex-direction: column;
  }

  .col-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar {
    position: relative;
    float: left;
    left: 0px;
    padding: 15px 0px;
  }

  .navbar-nav {
    padding: 15px 0px;
  }

  li > .link-nav {
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #4c4754;
  }

  li > .link-nav:hover {
    color: #4749a0;
  }

  li > .link-nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #4749a0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  li > .link-nav:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  li {
    position: relative;
    float: left;
  }

  ul {
    position: relative;
    margin: 0px;
  }

  .ul-nav {
    list-style: none;
  }

  .pad-ul-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
  }

  .hide-box-ul {
    visibility: hidden;
    display: none;
  }

  .hide-box-ul {
    display: none;
  }

  .box-more-icon {
    position: relative;
    z-index: 4;
    display: flex;
    align-self: flex-start;
    padding: 15px 0px;
  }

  .more-icon {
    visibility: visible;
    border: 2px solid #8a57de;
    color: white;
    background: #8a57de;
    width: 55px;
    height: 44px;
    border-radius: 3px;
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hide-box-ul {
    visibility: hidden;
  }
}
