.box-title-about {
  font-family: "Poppins";
  font-size: 40px;
  position: relative;
  font-size: 40px;
  line-height: 1.4em;
  color: #4c4754;
  font-weight: 600;
  text-align: left;
  padding-top: 60px;
}
.box-text-about {
  font-family: "Nunito";
}
.text-about {
  color: #7a7a7a;
  font-size: 30px;
}

.box-btn-about {
  margin-top: 20px;
}

.btn-about {
  border-radius: 3px;
  background: transparent;
  border: 2px solid #4749a0;
  color: #4749a0;
  font-size: 18px;
  width: 180px;
  padding: 10px;
}

.btn-about:hover {
  background: #4749a0;
  border-color: #4749a0;
  transition: all 800ms;
}

.box-img-about {
  animation: box-img-about 1000ms;
}

.img-about {
  position: relative;
  top: 70px;
  animation: img-about 3s linear infinite alternate;
}

@keyframes box-img-about {
  0% {
    opacity: 0;
    transform: translateY(-160px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes img-about {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

.box-add-order {
  font-family: "Poppins";
  font-size: 40px;
  position: relative;
  font-size: 40px;
  line-height: 1.4em;
  color: #4c4754;
  font-weight: 600;
  text-align: left;
  padding-top: 60px;
}

.box-text-order {
  font-family: "Nunito";
}

.text-order {
  color: #7a7a7a;
  font-size: 30px;
}

.box-img-order-about {
  margin-right: 50px;
}

.img-order {
  margin-right: 185px;
}

.animate-circle-1 {
  visibility: visible;

  animation: circle-1 0ms;
}

.circle-1 {
  position: absolute;
  right: 75px;

  top: 140px;
  width: 400px;
  height: 400px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: rgba(215, 60, 129, 0.5);
  z-index: -1;
}

.animate-circle-2 {
  visibility: visible;

  animation: circle-2 0ms;
}

.circle-2 {
  position: absolute;
  right: 90px;
  top: 140px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom,
    #d53590,
    #db3780,
    #df3c70,
    #df4461,
    #dd4e54
  );
  z-index: -1;
}
