/* ############################# Default Button ########################################## */
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #4c4754;
  background-color: transparent;
  border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled).focus,
.btn-primary:not(:disabled):not(.disabled):focus,
.show > .btn-primary.dropdown-toggle {
  box-shadow: none;
}

.btn-collapse-1:focus {
  box-shadow: none;
  background-color: transparent;
  color: #4c4754;
}

.btn-collapse-1:active {
  border-color: transparent;
  background-color: transparent;
}
.btn-collapse-2:focus {
  box-shadow: none;
  background-color: transparent;
  color: #4c4754;
}

.btn-collapse-2:active {
  border-color: transparent;
  background-color: transparent;
}

/* ########################### Main Style ############################################### */
.section-faq {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.section-faq-content {
  color: #4c4754;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
}

.box-content-1 {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  margin-bottom: 40px;
}

.box-content-2 {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  margin-bottom: 40px;
  margin-left: 35px;
}

.box-text-faq {
  font-family: "Poppins";
  margin-bottom: 70px;
}

.text-faq {
  font-size: 34px;
  line-height: 1.2em;
  color: #4c4754;
  font-weight: 500;
}

.btn-collapse-1 {
  display: flex;
  align-items: center;
  text-align: inherit;
  width: 540px;
  padding: 20px 40px;
  cursor: pointer;
  border: transparent;
  background: transparent;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  color: #4c4754;
}

.btn-collapse-1:hover {
  background: transparent;
  border: transparent;
  color: #4c4754;
}

.icon-plus-1 {
  color: #7478fa;
  margin-left: 122px;
}

.btn-collapse-2 {
  display: flex;
  align-items: center;
  text-align: inherit;
  padding: 20px 40px;
  cursor: pointer;
  border: transparent;
  background: transparent;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  color: #4c4754;
}

.btn-collapse-2:hover {
  background: transparent;
  border: transparent;
  color: #4c4754;
  background-color: transparent;
}

.icon-plus-2 {
  color: #7478fa;
  margin-left: 122px;
}

.text-1 {
  padding: 35px;
  text-align: left;
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #75717b;
  font-weight: 400;
}

.text-2 {
  padding: 35px;
  text-align: left;
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #75717b;
  font-weight: 400;
}
