/* ############################# Add Fonts ############################ */

/* ######################################## Main Style ######################################### */
.box-features-btn {
  padding: 5px;
}
.circle {
  background-color: #7f83fc;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100px;
  padding-left: 22px;
  border-radius: 10px;
  font-family: "Poppins";
}
.features-box {
  background-color: #767af7;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anim-box-1 {
  animation: anim-box-1 900ms;
}

@keyframes anim-box-1 {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.anim-box-2 {
  animation: anim-box-2 1300ms;
}

@keyframes anim-box-2 {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.anim-box-3 {
  animation: anim-box-3 1800ms;
}

@keyframes anim-box-3 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
