/* ####################### Icon Style ########################################## */
.icon {
  position: absolute;
  opacity: 0.7;
}
.animation-icons {
  position: absolute;
  left: -1299px;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.icon-building {
  position: absolute;
  bottom: 76px;
  left: 868px;
}

.icon-cloud-1 {
  top: 40px;

  animation: animate-cloud-1 15s linear infinite;
}
.icon-cloud-2 {
  top: 60px;

  animation: animate-cloud-2 30s linear infinite;
}
.icon-cloud-3 {
  top: 140px;

  animation: animate-cloud-3 45s linear infinite;
}
.icon-cloud-4 {
  top: 120px;
  animation: animate-cloud-4 25s linear infinite;
}
.icon-cloud-5 {
  top: 170px;
  animation: animate-cloud-5 35s linear infinite;
}

.icon-cloud-6 {
  top: 220px;
  animation: animate-cloud-6 60s linear infinite;
}

@keyframes animate-cloud-1 {
  0% {
    margin-left: -100px;
  }

  100% {
    margin-left: 120%;
  }
}

@keyframes animate-cloud-2 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-3 {
  0% {
    margin-left: -100px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-4 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-5 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-6 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}

/* ####################### Main Style ########################################## */

li {
  padding: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
}

.footer {
  position: static;
  max-width: 1200px;
  padding: 200px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.link-footer {
  color: #758191;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 15px;
}

.section-footer-pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.section-footer-download {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
  z-index: 1;
}

.box-link-pages {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.box-pages {
  position: relative;
  color: #394963;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
}

.box-download {
  position: relative;
  color: #394963;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
}

.box-btn-footer-download {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-bottom {
  position: relative;
  padding: 20px 0px 30px;
  border-top: 1px solid #f0e5ea;
  text-align: left;
}

.footer-bottom-padding {
  padding: 0px 55px;
}

.text-footer-bottom {
  position: relative;
  color: #9ca3b0;
  font-size: 16px;
  padding-top: 15px;
}

.btn-download-app {
  position: relative;
  float: left;
  margin-right: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #7478fa;
  font-weight: 600;
  padding: 10px 15px;
  background-color: #e5e9fb;
  border-radius: 5px;
  transition: all 300ms ease;
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
}

.btn-download-app:hover {
  text-decoration: none;
  color: #e5e9fb;
  background-color: #7478fa;
}
