/*############################# Add Fonts ############################################*/
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(../Assets/Font/PoppinsLatin-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(../Assets/Font/Nunito-Medium.ttf) format("truetype");
}

/* ###################################### Main Style ###################################### */

.text-banner {
  text-align: start;
  padding: 0px 13px;
  color: #4c4754;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 175px;
}

/* ################################## Animation Style ################################ */
.box-text-1 {
  font-family: "nunito";
}

.txt-1 {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #8a57de;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  animation: text-1 800ms 0.5s both;
}

@keyframes text-1 {
  0% {
    opacity: 0;

    transform: translateY(90px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

.box-text-2 {
  font-family: "Poppins";
}

.txt-2 {
  position: relative;
  font-size: 50px;
  line-height: 64px;
  margin-bottom: 28px;
  font-weight: 600;
  visibility: visible;
  animation: text-2 800ms 1s both;
}

@keyframes text-2 {
  0% {
    opacity: 0;

    transform: translateY(90px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

.box-text-3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  visibility: visible;
  position: relative;
  margin-bottom: 50px;
  animation: text-3 1200ms 1s both;
}

.txt-3 {
  font-family: "nunito";
}

@keyframes text-3 {
  0% {
    opacity: 0;

    transform: translateY(90px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

.pink-blur {
  position: absolute;
  left: 41px;
  top: 56px;
  animation: pink-blur 3s 5s alternate infinite;
}

@keyframes pink-blur {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

.blue-blur {
  position: absolute;
  top: 500px;
  right: 912px;
  animation: blue-blur 2s 1s alternate infinite;
}

@keyframes blue-blur {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

.green-blur {
  position: absolute;
  left: 429px;
  bottom: 638px;
  animation: green-blur 1s 8s alternate infinite;
}

@keyframes green-blur {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

.icon-circle-1 {
  position: absolute;
  left: 608px;
  top: 116px;
  animation: icon-circle-1 15s linear infinite;
  height: 144px;
  width: 147px;
}

@keyframes icon-circle-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-circle-2 {
  position: absolute;
  left: 1222px;
  top: 284px;
  z-index: -1;
  height: 88px;
  width: 88px;
  animation: icon-circle-2 10s linear infinite;
}

@keyframes icon-circle-2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-circle-3 {
  position: absolute;
  left: 614px;
  top: 399px;
  animation: icon-circle-3 15s linear infinite;
}

@keyframes icon-circle-3 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.icon-triangle-1 {
  position: absolute;
  left: 1225px;
  top: 487px;
  animation: icon-triangle-1 15s linear infinite backwards;
  height: 76px;
  width: 75px;
  opacity: 0.5;
  z-index: -1;
}

@keyframes icon-triangle-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-triangle-2 {
  position: absolute;
  left: 698px;
  top: 233px;
  animation: icon-triangle-2 15s linear infinite forwards;
}

@keyframes icon-triangle-2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .box-wow {
  animation: image-wow 2000ms;
} */

.img-wow {
  margin-left: 333px;
  margin-top: 21px;
  animation: image-wow 1200ms 800ms both;
}
@keyframes image-wow {
  0% {
    opacity: 0;
    transform: translateX(85px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.box-btn-header {
  font-family: Poppins;
}
.btn-header {
  background: transparent;
  color: #8a57de;
  border-radius: 3px;
  border: 2px solid #8a57de;
  display: flex;
  justify-content: center;
  font-size: 18px;
  animation: btn-header 1300ms 1.5s both;
}

.btn-header:hover {
  background: #8a57de;

  border: 2px solid #8a57de;
  transition: all 300ms;
}

@keyframes btn-header {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ################################## Comments ####################################### */

/* 
0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  } */

/* 40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  } */

/* 0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  } */

/* 0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  } */
