/* ####################### Icon Style ########################################## */

.animation-icons {
  position: absolute;
  left: -1299px;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.icon-cloud-1 {
  top: 40px;

  animation: animate-cloud-1 15s linear infinite;
}
.icon-cloud-2 {
  top: 60px;

  animation: animate-cloud-2 30s linear infinite;
}
.icon-cloud-3 {
  top: 140px;

  animation: animate-cloud-3 45s linear infinite;
}
.icon-cloud-4 {
  top: 120px;
  animation: animate-cloud-4 25s linear infinite;
}
.icon-cloud-5 {
  top: 170px;
  animation: animate-cloud-5 35s linear infinite;
}

.icon-cloud-6 {
  top: 220px;
  animation: animate-cloud-6 60s linear infinite;
}

@keyframes animate-cloud-1 {
  0% {
    margin-left: -100px;
  }

  100% {
    margin-left: 120%;
  }
}

@keyframes animate-cloud-2 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-3 {
  0% {
    margin-left: -100px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-4 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-5 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-6 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
/* ################################################################# */

.section-subscribe {
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-color: #fbfbfe;
  padding-top: 85px;
}

.box-text-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "poppins", sans-serif;
}

.text-1-subscribe {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #7478fa;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  z-index: 1;
}

.text-2-subscribe {
  font-size: 34px;
  line-height: 1.2em;
  color: #4c4754;
  font-weight: 500;
  z-index: 1;
}

.icon {
  position: absolute;
}

.box-iframe {
  padding: 20px;
  padding-bottom: 80px;
}

.iframe-video {
  position: relative;
  visibility: hidden;
}
.animation-iframe-video {
  visibility: visible;
  animation: iframe-video 2s;
}

@keyframes iframe-video {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
