/* ####################### Icon Style ########################################## */

.animation-icons {
  position: absolute;
  left: -1299px;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.icon-cloud-1 {
  top: 40px;

  animation: animate-cloud-1 15s linear infinite;
}
.icon-cloud-2 {
  top: 60px;

  animation: animate-cloud-2 30s linear infinite;
}
.icon-cloud-3 {
  top: 140px;

  animation: animate-cloud-3 45s linear infinite;
}
.icon-cloud-4 {
  top: 120px;
  animation: animate-cloud-4 25s linear infinite;
}
.icon-cloud-5 {
  top: 170px;
  animation: animate-cloud-5 35s linear infinite;
}

.icon-cloud-6 {
  top: 220px;
  animation: animate-cloud-6 60s linear infinite;
}

.icon-building {
  left: 0;
  bottom: 0px;
  width: 900px;
  height: 89px;
}

.icon-building.left {
  left: 166px;
}

.icon-building.right {
  right: -696px;
  left: auto;
}
@keyframes animate-cloud-1 {
  0% {
    margin-left: -100px;
  }

  100% {
    margin-left: 120%;
  }
}

@keyframes animate-cloud-2 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-3 {
  0% {
    margin-left: -100px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-4 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-5 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
@keyframes animate-cloud-6 {
  0% {
    margin-left: -140px;
  }

  100% {
    margin-left: 120%;
  }
}
/* ################################################################# */

.section-subscribe {
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-color: #fbfbfe;
  padding-top: 85px;
}

.box-text-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "poppins", sans-serif;
}

.text-1-subscribe {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #7478fa;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  z-index: 1;
}

.text-2-subscribe {
  font-size: 34px;
  line-height: 1.2em;
  color: #4c4754;
  font-weight: 500;
  z-index: 1;
}

.icon {
  position: absolute;
}

.box-img-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-subscribe {
  position: relative;
  display: block;
  background: #202020;
  border-radius: 5px 5px 0px 0px;
  z-index: 1;
}

.video-link {
  position: absolute;
  left: 132px;
  top: 171px;
  width: 76%;
  height: 75%;
  z-index: 1;
}

.a:hover {
  color: #0056b3;
  text-decoration: none;
  outline: none !important;
}

.star-icon {
  background: url(../Assets/star.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
