/*############################# Add Fonts ############################################*/
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./Assets/Font/PoppinsLatin-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(./Assets/Font/Nunito-Medium.ttf) format("truetype");
}

/* ###################################### Default Style ###################################### */

html,
body {
  height: 100%;
  width: 100%;
  max-height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  text-align: center;
  background-color: #ffffff;
  font-family: "Nunito";
}

/* ################################### Main Style ####################################### */
.box-header-bg {
  background: url(./Assets/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  position: absolute;
  top: 0;
  right: 0;
  height: 929px;
  width: 866px;
  z-index: -1;
}

.layer-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -200px;
  z-index: -1;
}

.features-container {
  padding: 0px 75px;
}
/* 
.btn-scroll {
  color: #ffffff;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 44px;
  height: 44px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  background: #333333;
  display: none;
  transition: all 300ms ease;
} */
