/* Add Fonts */
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./Assets/Font/PoppinsLatin-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(./Assets/Font/Nunito-Medium.ttf) format("truetype");
}
/* Default Style */

html,
body {
  height: 100%;
}

body {
  text-align: center;
  background-color: #ffffff;
  background-image: url(./Assets/1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  font-family: "Nunito";
}

/* ############################## Main Style ############################# */
